*{
    padding:0px;
    margin:0px;
}

p{
    height:100px;
    width:450px;
    background-color: blanchedalmond;
    border:2px dashed black;
    padding-top:70px;
    margin: 20px;
    text-align: center;
}
div{
    height:100px;
    width:100px;
    color:white;
    text-align:center;
    border:2px solid black;
    margin:25px;
    padding:25px;
    display:inline-block;
    border-radius: 50%;
}
#div1{
    background-color: red;
}
#div2{
    background-color:green;
}
#div3{
    background-color:blue;
}
