* {
    margin: 0;
    padding: 0;
}

.firstpara {
    margin: 0;
    color: #f0f;
    background-color: #000;
}

span {
    font-size: large;
    background-color: rgba(0, 0, 0, 1);
}

.all {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-variant: normal;
    font-kerning: none;
    text-align: start;
    text-align: end;
    text-align: justify;
    text-decoration: underline wavy red;
    text-transform: uppercase;
    line-height: 2.5;
    letter-spacing: 5px;
}

.all::selection {
    background-color: #f0f;
}